<h1>This is Jonathan's Custom App to display quantities to the product page</h1>
<p>Email me at jonathanahernnyc@gmail.com if you'd like to change something</p>

<%= content_tag :div ,
id: "hello-react" ,
data: {
name: "person"
}.to_json do %>
<% end %>